<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizar Cita</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Actualizar Cita</h1>
        <form th:action="@{'/cita/update/' + ${cita.id}}" method="post">
            <div class="form-group">
                <label for="pacienteId">Paciente:</label>
                <input type="text" class="form-control" id="pacienteId" name="pacienteId" th:value="${cita.paciente.nombres}" readonly>
            </div>
            
            <div class="form-group">
                <label for="fechaHora">Fecha y Hora:</label>
                <input type="datetime-local" class="form-control" id="fechaHora" name="fechaHora" th:value="${fechaHoraFormateada}" required>
            </div>
            
            <div class="form-group">
                <label for="motivoConsulta">Motivo de Consulta:</label>
                <input type="text" class="form-control" id="motivoConsulta" name="motivoConsulta" th:value="${cita.motivoConsulta}">
            </div>
            
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="/cita/all_frontend" class="btn btn-outline-danger">Volver al Listado</a>
        </form>
    </div>
</body>
</html>
