<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Odontograma</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
			integrity="sha384-vzO+BbZ+WlqoJzR2JgvXuhpKoLCFV9D2l2zx4Aiu0yOYkLzpvvoGJlZvAHV/pDv3" crossorigin="anonymous">
		<link th:href="@{/css/formularioCrearOdontograma.css}" rel="stylesheet">
		<script defer src="/js/formularioCrearOdontograma.js"></script>
	</head>

	<body id="body">
		<div class="container">
			<h1 class="mt-5">Odontograma</h1>
			<form method="POST" enctype="multipart/form-data" action="/odontograma/crear">
				<!-- Selección del paciente -->
				<div class="form-group">
					<label for="paciente">Paciente:</label>
					<select class="form-control" id="paciente" name="paciente"
						onchange="evaluarEdadPaciente(this.options[this.selectedIndex].dataset.fechaNacimiento)">
						<option value="">Seleccione un paciente</option>
						<option th:each="paciente : ${pacientes}" th:value="${paciente.id}"
							th:data-fecha-nacimiento="${paciente.fechaNacimiento}"
							th:text="${paciente.nombres + ' ' + paciente.apellidos}"></option>
					</select>
				</div>

				<!-- Selección del odontólogo -->
				<div class="form-group">
					<label for="odontologo">Odontólogo:</label>
					<select class="form-control" id="odontologo" name="odontologo">
						<option value="">Seleccione un odontólogo</option>
						<option th:each="odontologo : ${odontologos}" th:value="${odontologo.id}"
							th:text="${odontologo.nombres + ' ' + odontologo.apellidos}"></option>
					</select>
				</div>

				<h2>Selecciona el diente a evaluar</h2>
				<div class="container">
					<!-- Primera fila de botones -->
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<!-- Botones de izquierda superior -->
								<div class="col-0 izquierda-superior" th:each="boton, iterStat : ${botones.subList(0, 8)}">
									<button type="button" class="tooth" th:value="${'Izquierda superior ' + boton}"
										th:text="${boton}" onclick="procesarBoton(this)"></button>
								</div>
								<!-- Botones de derecha superior -->
								<div class="col-0 derecha-superior" th:each="boton, iterStat : ${botones.subList(8, 16)}">
									<button type="button" class="tooth" th:value="${'Derecha superior ' + boton}"
										th:text="${boton}" onclick="procesarBoton(this)"></button>
								</div>
							</div>
						</div>
					</div>
					<!-- Segunda fila de botones -->
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<!-- Botones de izquierda inferior -->
								<div class="col-0 izquierda-inferior" th:each="boton, iterStat : ${botones.subList(16, 24)}">
									<button type="button" class="tooth" th:value="${'Izquierda inferior ' + boton}"
										th:text="${boton}" onclick="procesarBoton(this)"></button>
								</div>
								<!-- Botones de derecha inferior -->
								<div class="col-0 derecha-inferior" th:each="boton, iterStat : ${botones.subList(24, 32)}">
									<button type="button" class="tooth" th:value="${'Derecha inferior ' + boton}"
										th:text="${boton}" onclick="procesarBoton(this)"></button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Elemento para mostrar el diente seleccionado -->
				<div id="dienteSeleccionadoText" class="mt-3" style="display: none;">
					<p>Diente seleccionado: <span id="dienteSeleccionado"></span></p>
				</div>

				<div id="estadoDentalContainer" class="form-group my-3" style="display: none;">
					<label for="estadoDental">Estado Dental:</label>
					<select class="form-control" id="estadoDental" name="estadoDental">
						<option value="">Seleccione un estado dental</option>
						<option th:each="estadoDental : ${estadosDentales}" th:value="${estadoDental}"
							th:text="${estadoDental}"></option>
					</select>
					<div class="row mt-4">
						<div class="col-md-6">
							<h3>Diente <span class="diente-nombre"></span>:</h3>
							<div class="form-group">
								<!-- Agrega un campo oculto para la nota de cada diente -->
								<input type="hidden" class="form-control nota-diente" id="notaDiente_"
									name="notaDiente_" />
								<label for="notaDiente_">Nota:</label>
								<input type="text" class="form-control nota-diente" id="notaDiente_texto"
									name="notaDiente_texto" />
							</div>
						</div>
					</div>
				</div>

				<!-- Botón para agregar un nuevo diente a evaluar -->
				<input type="hidden" id="dientesEvaluados" name="dientesEvaluados" />
				<div class="row mt-4">
					<div class="col-md-12">
						<button type="button" class="btn btn-primary" id="nuevoButton"
							onclick="agregarDienteEvaluado()">Nuevo diente a evaluar</button>
					</div>
				</div>

				<div id="errorMessage" style="color: red; display: none;">Por favor, seleccione un diente y su estado
					dental antes de agregar.</div>

				<!-- Lista de dientes evaluados -->
				<div id="dientesEvaluadosList"></div>

				<!-- Add a field for general comments -->
				<div class="form-group">
					<label for="comentariosGenerales">Comentarios generales:</label>
					<textarea class="form-control" id="comentariosGenerales" name="comentariosGenerales"></textarea>
				</div>

				<div class="row mt-4">
					<div class="col-md-12">
						<button type="submit" class="btn btn-primary">Guardar</button>
						<a href="#" class="btn btn-outline-danger">Cancelar</a>
					</div>
				</div>
			</form>
		</div>
	</body>

</html>